{{#extends 'base'}}
{{#block 'content'}}
<table class="table">
    <thread>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Brand</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Weight</th>
            <th>User Level</th>
            <th>Imaging Type</th>
            <th>Optical</th>
            <th>Aperture</th>
            <th>f/Ratio</th>
        </tr>
    </thread>
    <tbody>
        {{#each telescopes}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.category.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.brand.name}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.price}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.userLevel}}</td>
            <td>{{this.imagingType}}</td>
            <td>{{this.opticalDesign}}</td>
            <td>{{this.apertureRange}}</td>
            <td>{{this.fratioRange}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{#each telescopes}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src={{this.image_url}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.stock}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{{/each}}
{{/block}}
{{/extends}}