{{#extends 'base'}}
{{#block 'content'}}
{{!-- <table class="table">
    <thread>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Brand</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Weight</th>
            <th>User Level</th>
            <th>Imaging Type</th>
            <th>Optical</th>
            <th>Aperture</th>
            <th>f/Ratio</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thread>
    <tbody>
        {{#each telescopes}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.category.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.brand.name}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.price}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.userLevel}}</td>
            <td>{{this.imagingType}}</td>
            <td>{{this.opticalDesign}}</td>
            <td>{{this.apertureRange}}</td>
            <td>{{this.fratioRange}}</td>
            <td>
                <a href="/telescope/{{this.id}}/update" class="btn btn-info">Update</a>
            </td>
            <td>
                <a href="/telescope/{{this.id}}/delete" class="btn btn-danger">Delete</a>
            </td>

        </tr>
        {{/each}}
    </tbody>
</table> --}}



<div id="accordion" class="mt-4">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                     Search Filters ⇓
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <form method="GET">
                    {{{form}}}
                    <input type="submit" class="btn btn-info" value="Search" />
                </form>
            </div>
        </div>
    </div>
</div>


<div style="margin-top: 5%;">
    {{#each telescopes}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{this.image_url}} alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.stock}}</p>
            <a href="/telescope/{{this.id}}/update" class="btn btn-info">More Info</a>
        </div>
        <div class="card-body">
            <a href="/telescope/{{this.id}}/update" class="btn btn-warning">Update</a>
            <a href="/telescope/{{this.id}}/delete" class="btn btn-danger">Delete</a>
        </div>
    </div>
    {{/each}}
</div>
{{/block}}
{{/extends}}