{{#extends 'base'}}
{{#block 'content'}}

<div id="accordion" class="mt-4">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link btn-info" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Search Filters ⇓
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <form method="GET">
                    {{{form}}}
                    <input type="submit" class="btn btn-info" value="Search" />
                </form>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thread>
        <tr>
            <th>Id</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Shipping Company</th>
            <th>User id</th>
            <th></th>
        </tr>
    </thread>
    <tbody>
        {{#each shopOrders}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.orderDate}}</td>
            <td>{{this.status.name}}</td>
            <td>{{this.shipping.name}}</td>
            <td>{{this.users_id}}</td>
            <td>
                <a href="orders/{{this.id}}/status" class="btn btn-warning">Update</a>
            </td>
            <td>
                <a href="orders/{{this.id}}/delete" class="btn btn-danger">Delete</a>
            </td>

        </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}
{{/extends}}